@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: 'Glysa';
  src: url("../fonts/Glysa.woff") format("woff");
  font-weight: normal;
  font-style: sans-serif;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik.woff") format("woff");
  font-weight: normal;
  font-style: sans-serif;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica.woff") format("woff");
  font-weight: normal;
  font-style: sans-serif;
  font-display: swap;
}

@font-face {
  font-family: 'Garamond';
  src: url("../fonts/Garamond.woff") format("woff");
  font-weight: normal;
  font-style: serif;
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::-moz-selection {
  background: white;
  color: black;
}

*::selection {
  background: white;
  color: black;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  background: black;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

.draggable {
  -webkit-transition: z-index .3s;
  transition: z-index .3s;
}

.draggable img, .draggable video {
  -webkit-filter: grayscale(0.8);
          filter: grayscale(0.8);
  -webkit-transition: opacity .3s, -webkit-filter .3s;
  transition: opacity .3s, -webkit-filter .3s;
  transition: filter .3s, opacity .3s;
  transition: filter .3s, opacity .3s, -webkit-filter .3s;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 576px) {
  .draggable img, .draggable video {
    pointer-events: none;
  }
}

.draggable.carousel .carousel-indicators {
  top: 0;
  bottom: unset;
  margin-bottom: 0;
  margin-top: 1rem;
}

.draggable.carousel .carousel-indicators > button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #727272;
}

.draggable.carousel .carousel-control-next, .draggable.carousel .carousel-control-prev {
  bottom: unset;
  top: 2rem;
}

.draggable.carousel .carousel-control-next-icon, .draggable.carousel .carousel-control-prev-icon {
  width: 5rem;
  height: 5rem;
}

.draggable:hover {
  z-index: 999;
}

.draggable:hover img, .draggable:hover video, .draggable:hover .carousel {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.draggable.active {
  z-index: 999;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr (1fr)[16] 0.5fr;
      grid-template-columns: 0.5fr repeat(16, 1fr) 0.5fr;
  -ms-grid-rows: 0.5fr (1fr)[58];
      grid-template-rows: 0.5fr repeat(58, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
}

@media screen and (max-width: 576px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    padding: 3rem 4rem;
    position: relative;
  }
}

.logo {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: 2 / 3 / span 1 / span 3;
  max-width: 100%;
}

.forma1 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 11;
  -ms-grid-column-span: 8;
  grid-area: 2 / 11 / span 3 / span 8;
  max-width: 100%;
  justify-self: flex-end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media screen and (max-width: 576px) {
  .forma1 {
    display: none;
  }
}

.laundry {
  -ms-grid-row: 4;
  -ms-grid-row-span: 9;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 4 / 3 / span 9 / span 7;
  max-width: 100%;
}

.quienesSomos {
  -ms-grid-row: 5;
  -ms-grid-row-span: 5;
  -ms-grid-column: 11;
  -ms-grid-column-span: 5;
  grid-area: 5 / 11 / span 5 / span 5;
}

.palto {
  -ms-grid-row: 10;
  -ms-grid-row-span: 11;
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-area: 10 / 12 / span 11 / span 5;
  max-width: 100%;
}

.forma2 {
  -ms-grid-row: 10;
  -ms-grid-row-span: 15;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 10 / 1 / span 15 / span 7;
  max-width: 100%;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  .forma2 {
    display: none;
  }
}

.maradona {
  -ms-grid-row: 13;
  -ms-grid-row-span: 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 13 / 3 / span 6 / span 7;
}

.maradona video {
  max-width: 100%;
}

.queOfrecemos {
  -ms-grid-row: 19;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: 5;
  grid-area: 19 / 4 / span 3 / span 5;
}

.orland {
  -ms-grid-row: 21;
  -ms-grid-row-span: 9;
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-area: 21 / 12 / span 9 / span 5;
  max-width: 100%;
}

.orland2 {
  -ms-grid-row: 25;
  -ms-grid-row-span: 7;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 25 / 3 / span 7 / span 7;
}

.orland2 video {
  max-width: 100%;
}

.trabajamosCon {
  -ms-grid-row: 31;
  -ms-grid-row-span: 7;
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-area: 31 / 5 / span 7 / span 3;
}

.papagni {
  -ms-grid-row: 30;
  -ms-grid-row-span: 9;
  -ms-grid-column: 11;
  -ms-grid-column-span: 5;
  grid-area: 30 / 11 / span 9 / span 5;
  max-width: 100%;
}

.impresion {
  -ms-grid-row: 36;
  -ms-grid-row-span: 6;
  -ms-grid-column: 3;
  -ms-grid-column-span: 7;
  grid-area: 36 / 3 / span 6 / span 7;
}

.impresion video {
  max-width: 100%;
}

.proximamente {
  -ms-grid-row: 37;
  -ms-grid-row-span: 3;
  -ms-grid-column: 12;
  -ms-grid-column-span: 5;
  grid-area: 37 / 12 / span 3 / span 5;
}

.forma3 {
  -ms-grid-row: 39;
  -ms-grid-row-span: 15;
  -ms-grid-column: 13;
  -ms-grid-column-span: 6;
  grid-area: 39 / 13 / span 15 / span 6;
  width: 100%;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  .forma3 {
    display: none;
  }
}

.oraculo {
  -ms-grid-row: 41;
  -ms-grid-row-span: 9;
  -ms-grid-column: 11;
  -ms-grid-column-span: 6;
  grid-area: 41 / 11 / span 9 / span 6;
  max-width: 100%;
}

.forma4 {
  -ms-grid-row: 48;
  -ms-grid-row-span: 9;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 48 / 1 / span 9 / span 8;
  height: 100%;
  justify-self: flex-end;
  z-index: -1;
}

@media screen and (max-width: 576px) {
  .forma4 {
    display: none;
  }
}

.nicanor {
  -ms-grid-row: 44;
  -ms-grid-row-span: 9;
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-area: 44 / 3 / span 9 / span 6;
  max-width: 100%;
}

.fontes {
  -ms-grid-row: 49;
  -ms-grid-row-span: 4;
  -ms-grid-column: 11;
  -ms-grid-column-span: 6;
  grid-area: 49 / 11 / span 4 / span 6;
  max-width: 100%;
}

.brian {
  -ms-grid-row: 54;
  -ms-grid-row-span: 5;
  -ms-grid-column: 4;
  -ms-grid-column-span: 7;
  grid-area: 54 / 4 / span 5 / span 7;
  max-width: 100%;
}

.textoHome {
  color: white;
}

.textoHome h4 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
}

.textoHome p {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Graphik", sans-serif;
  letter-spacing: 0.3px;
}

.textoHome p i {
  font-family: "Garamond", serif;
  font-style: normal;
  font-size: 2.2rem;
  line-height: 1;
}

.imgHome p, .carousel p {
  font-family: "Graphik", sans-serif;
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  font-weight: 300;
  color: gray;
  margin-top: 1rem;
  opacity: 0;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

@media screen and (max-width: 576px) {
  .imgHome p, .carousel p {
    opacity: 1;
  }
}

.imgHome:hover p, .carousel:hover p {
  opacity: 1;
}

a:hover {
  text-decoration: underline;
}

.footerTop {
  margin-bottom: 8rem;
}

.footerTop__primera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  padding-right: 3rem;
}

.footerTop__primera img {
  max-width: 100%;
}

@media screen and (max-width: 576px) {
  .footerTop__primera img {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 576px) {
  .footerTop__primera .logoCamara {
    max-width: 294px;
  }
}

@media screen and (max-width: 576px) {
  .footerTop__primera .textoFooter .texto {
    text-align: center;
  }
}

.footerTop__primera .textoFooter .portfolio {
  color: #63a0ff;
}

.footerTop__segunda {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerTop__segunda img {
  position: absolute;
}

@media screen and (max-width: 576px) {
  .footerTop__segunda {
    display: none;
  }
}

.footerTop__tercera {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

@media screen and (max-width: 576px) {
  .footerTop__tercera .textoFooter {
    text-align: center;
  }
}

.footerTop__tercera .textoFooter .portfolio {
  color: #63a0ff;
}

.footerTop__tercera .mecenazgo {
  width: 200px;
}

.footerTop .textoFooter {
  color: white;
}

.footerTop .textoFooter a {
  color: white;
}

.footerTop .textoFooter h4 {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
}

.footerTop .textoFooter h5 {
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: "Helvetica", sans-serif;
}

.footerTop .textoFooter p {
  font-size: 1.4rem;
  font-weight: 300;
  font-family: "Graphik", sans-serif;
  letter-spacing: 0.3px;
}

.footerTop .textoFooter p.nombre {
  font-size: 1.6rem;
  font-weight: 600;
}

.footerTop .textoFooter p.cargo {
  font-style: italic;
}

.footerTop .textoFooter p.oficio {
  font-weight: 300;
}

.footerTop .textoFooter p.instagram {
  font-family: "Garamond", serif;
  font-style: normal;
  font-size: 2rem;
  line-height: 1;
}

.footerTop .textoFooter p.texto {
  font-weight: 600;
}

.footerTop .textoFooter__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (max-width: 576px) {
  .footerTop .textoFooter__logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footerTop .lineaFooter {
  width: 4rem;
  height: 1px;
  background: white;
}

.footerBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 8rem;
}

@media screen and (max-width: 576px) {
  .footerBottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}

.footerBottom__col h4 {
  color: white;
  font-size: 2.2rem;
  font-family: "Helvetica", sans-serif;
  margin-bottom: 2rem;
  text-align: center;
}

.footerBottom__col__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerBottom__col__img .wip3d {
  width: 60px;
}
/*# sourceMappingURL=style.css.map */