.draggable {
    transition: z-index .3s;

    img, video {
        filter: grayscale(.8);
        transition: filter .3s, opacity .3s;
        max-width: 100%;
        object-fit: cover;

        @include movil {
            filter: none;
            pointer-events: none;
        }
    }

    &.carousel {

        .carousel-indicators {
            top: 0;
            bottom: unset;
            margin-bottom: 0;
            margin-top: 1rem;
        }
    }

    &:hover {
        z-index: 999;

        img, video, .carousel {
            filter: grayscale(0);
        }
    }

    &.active {
        z-index: 999;
    }
}