.footerTop {
    margin-bottom: 8rem;

    &__primera {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-right: 3rem;
    
        img {
            max-width: 100%;

            @include movil {
                align-self: center;
            }
        }

        .logoCamara {
            
            @include movil {
                max-width: 294px;
            }
        }

        .textoFooter {

            .texto {

                @include movil {
                    text-align: center;
                }
            }

            .portfolio {
                color: #63a0ff;
            }
        }
    }
    
    &__segunda {
        display: flex;
        align-items: center;
        justify-content: center;
    
        img {
            position: absolute;
        }

        @include movil {
            display: none;
        }
    }
    
    &__tercera {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .textoFooter {
            
            @include movil {
                text-align: center;
            }

            .portfolio {
                color: #63a0ff;
            }
        }

        .mecenazgo {
            width: 200px;
        }
    }
    
    .textoFooter {
        color: white;

        a {
            color: white;
        }
    
        h4 {
            font-size: 2.2rem;
            text-transform: uppercase;
            font-family: "Helvetica", sans-serif;
        }
    
        h5 {
            font-size: 1.8rem;
            text-transform: uppercase;
            font-family: "Helvetica", sans-serif;
        }
    
        p {
            font-size: 1.4rem;
            font-weight: 300;
            font-family: "Graphik", sans-serif;
            letter-spacing: 0.3px;
        }
    
        p.nombre {
            font-size: 1.6rem;
            font-weight: 600;
        }
    
        p.cargo {
            font-style: italic;
        }
    
        p.oficio {
            font-weight: 300;
        }
    
        p.instagram {
            font-family: "Garamond", serif;
            font-style: normal;
            font-size: 2rem;
            line-height: 1;
        }
    
        p.texto {
            font-weight: 600;
        }

        &__logos {
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: flex-start;

            @include movil {
                justify-content: center;
            }
        }
    }
    
    .lineaFooter {
        width: 4rem;
        height: 1px;
        background: white;
    }
}

.footerBottom {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 8rem;

    @include movil {
        flex-direction: column;
        gap: 30px;
    }

    &__col {

        h4 {
            color: white;
            font-size: 2.2rem;
            font-family: "Helvetica", sans-serif;
            margin-bottom: 2rem;
            text-align: center;
        }

        &__img {
            display: flex;
            gap: 2rem;
            align-items: center;
            justify-content: center;

            .wip3d {
                width: 60px;
            }
        }
    }
}
