main {  
    display: grid;
    grid-template-columns: .5fr repeat(16, 1fr) .5fr;
    grid-template-rows: .5fr repeat(58, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;

    @include movil {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 3rem 4rem;
        position: relative;
    }
}

.logo {
    grid-area: 2 / 3 / span 1 / span 3;
    max-width: 100%;
}

.forma1 {
    grid-area: 2 / 11 / span 3 / span 8;
    max-width: 100%;
    justify-self: flex-end;
    align-self: center;

    @include movil {
        display: none;
    }
}

.laundry {
    grid-area: 4 / 3 / span 9 / span 7;
    max-width: 100%;
}

.quienesSomos {
    grid-area: 5 / 11 / span 5 / span 5;
}

.palto {
    grid-area: 10 / 12 / span 11 / span 5;
    max-width: 100%;
}

.forma2 {
    grid-area: 10 / 1 / span 15 / span 7;
    max-width: 100%;
    z-index: -1;

    @include movil {
        display: none;
    }
}

.maradona {
    grid-area: 13 / 3 / span 6 / span 7;

    video {
        max-width: 100%;
    }
}

.queOfrecemos {
    grid-area: 19 / 4 / span 3 / span 5;
}

.orland {
    grid-area: 21 / 12 / span 9 / span 5;
    max-width: 100%;
}

.orland2 {
    grid-area: 25 / 3 / span 7 / span 7;

    video {
        max-width: 100%;
    }
}

.trabajamosCon {
    grid-area: 31 / 5 / span 7 / span 3;
}

.papagni {
    grid-area: 30 / 11 / span 9 / span 5;
    max-width: 100%;
}

.impresion {
    grid-area: 36 / 3 / span 6 / span 7;

    video {
        max-width: 100%;
    }
}

.proximamente {
    grid-area: 37 / 12 / span 3 / span 5;
}

.forma3 {
    grid-area: 39 / 13 / span 15 / span 6;
    width: 100%;
    z-index: -1;

    @include movil {
        display: none;
    }
}

.oraculo {
    grid-area: 41 / 11 / span 9 / span 6;
    max-width: 100%;
}

.forma4 {
    grid-area: 48 / 1 / span 9 / span 8;
    height: 100%;
    justify-self: flex-end;
    z-index: -1;

    @include movil {
        display: none;
    }
}

.nicanor {
    grid-area: 44 / 3 / span 9 / span 6;
    max-width: 100%;
}

.fontes {
    grid-area: 49 / 11 / span 4 / span 6;
    max-width: 100%;
}

.brian {
    grid-area: 54 / 4 / span 5 / span 7;
    max-width: 100%;
}