* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::selection {
        background: white;
        color: black;
    }
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    overflow-x: hidden;
    background: black;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}



/* CURSOR */

* {
  cursor:none !important;
}

body {
  position:absolute;
  height:100%;
}

.cursor {
  position: absolute;
  width: 40px;
  height: 24px;
  top: -50%;
  left: -50%;
  margin: -15px 0 0 -15px;
  border-radius: 50%;
  background-image: url('../img/cursor.svg');
  mix-blend-mode: difference;
  z-index: 1000;
  pointer-events: none;
}

.content_cursor {
  position:relative;
  height:100%;
}